@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
.dora {
  font-family: 'Cabin', sans-serif;
  width: fit-content;
  color: rgba(102, 122, 138);
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
  border: 1px solid rgba(102, 122, 138);
}

.dora__activator {
  padding: 12px 48px 12px 48px;
  width: 204px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 4px 4px 0 0;
}
.dora__activator:hover {
  white-space: normal;
}

.activator__reset {
  position: absolute;
  top: 6px;
  right: 14px;
  padding: 20px;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}
.activator__reset-arrow { background-image: url("https://image.flaticon.com/icons/svg/32/32195.svg"); }
.activator__reset-clear { background-image: url("https://image.flaticon.com/icons/svg/32/32178.svg"); }

.activator__search {
  display: flex;
  position: absolute;
  width: 0;
  top: 4px;
  left: 8px;
}
.activator__search__icon {
  background-image: url("https://image.flaticon.com/icons/png/512/751/751463.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 14px;
  margin-right: 8px;
  border: 1px solid transparent;
  display: inline;
}
.activator__search__icon:hover {
  border: 1px solid grey;
  border-radius: 10px;
}

.activator__search__input {
  opacity: .8;
  height: 30px;
  position: relative;
  top: 34px;
  left: -40px;
}

.dora__data {
  width: 300px;
  border-radius: 0 0 5px 5px;
  overflow: auto;
}
.dora__data__absolute {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(245, 245, 245);
  border-top: 1px solid rgba(102, 122, 138);
}

.dora__data__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: rgba(102, 122, 138);
  border-top: none;
  overflow: auto;
  max-height: 265px;
}

.dora__form {
  margin: 0;
}
.dora__form__input {
  text-indent: 0;
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  color: rgba(102, 122, 138);
  padding: 8px 4px 8px 24px;
  margin: 8px 24px;
  width: 83%;
}

.dora__data__list__element {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 12px 24px;
  font-size: 1.1rem;
}
.dora__data__list__element:hover {
  direction: rtl;
}

.dora__data__list__element:hover {
  background-color: rgba(102, 122, 138, .5);
  color: rgb(245, 245, 245);
}
.dora__data__list__element:focus {
  outline: 5px auto rgba(102, 122, 138);
}

.dora__data__element__selected {
  background-color: rgba(102, 122, 138, 0.75);
  color: rgb(245, 245, 245);
  border-left: none;
  border-right: none;
}

.activator__selected__element {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  width: 50px;
  max-height: 50px;
  border-radius: 2px;
  padding: 1px;
  margin-right: 4px;
  border-bottom: 1px dashed rgba(102, 122, 138);
}
.activator__selected__element__single {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  width: 100%;
  max-height: 50px;
  border-radius: 2px;
  padding: 1px;
  margin-right: 4px;
  border-bottom: 1px dashed rgba(102, 122, 138);
}
.activator__selected__element:hover,
.activator__selected__element--keydown {
  background-color: rgba(139, 168, 190, 0.75);
  color: rgb(245, 245, 245);
}

.dora__loadmore {
  padding: 8px 8px 8px 24px;
  color: rgba(102, 122, 138);
  background-color: rgba(102, 122, 138, 0.1);
}
.dora__loadmore:hover {
  background-color: rgba(102, 122, 138, 0.5);
  color: rgb(245, 245, 245);
}